body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: black;
    color:ghostwhite;
    /* position: relative; */
}

#header {
    height: 25%;
}

#weather {
    width: fit-content;
    color: black;
}

#name {
    font-size: 40px;
    font-weight: 500;
}

.jumbotron{
    height: 100vh;
}

#projects {
    height: 100vh;
}

p, h5 {
    color:ghostwhite
}
