html {
    cursor: crosshair;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    background-color:whitesmoke;
    color:black;
}

#zorb {
    height: 50px;
    width: 50px;
    margin-right: 5px;
    margin-bottom: 3px;
}

#weather {
    width: fit-content;
    color: black;
}

#name {
    font-size: 40px;
    font-weight: 500;
}

.jumbotron{
    height: 50vh;
}

#projects {
    height: auto;
    margin-bottom: 30px;
}

p, h5 {
    color:black
}

#contact {
    padding-bottom: 15px;
    margin-bottom: 100px;
    margin-top: 100px;
}

#footer {
    padding: 5px;
    margin-top: 100px;
}
